<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TestMatikProje.Properties.Settings.ConnectionString"
            connectionString="Data Source=USER-PC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TestMatikProje.Properties.Settings.testmatikConnectionString"
            connectionString="Data Source=USER-PC;Initial Catalog=testmatik;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
